<ion-view title="Login" hide-nav-bar="true" id="page10" class=" ">
    <ion-content padding="true" style="background: url(img/TJlz5z1aTQ2ueQXwD907_Beauty-l.jpg) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
        <form action="http://52.42.135.212/api/login" method="POST"id="login-form4" class="list ">
            <ion-list id="login-list2" class=" ">
                <label class="item item-input " id="login-input1">
                    <span class="input-label">Email</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input " id="login-input2">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="">
                </label>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
            <button id="login-button1" class=" button button-stable  button-block ">Log in</button>
            <a href="#" onclick="window.open('/signup', '_system', 'location=yes'); return false;" id="login-button2" style="border-radius:1px 1px 1px 1px;" class=" button button-stable  button-block button-icon ">Or create an account</a>
        </form>
    </ion-content>
</ion-view>
