<ion-view title="Profile" id="page1" class=" ">
    <ion-content padding="true" style="background: url(img/HPMTZvNR0eOwsrddYzlv_Beauty-l.jpg) no-repeat center;background-size:cover;" class="has-header">
        <div class="">
            <a style="display:block;" href="tel:">
                <img src="img/XySXhm8RXGroQpdFbmzg_822f821e24c018405a099507babe3c7b.jpg" width="100%" height="350px" style="display: block; margin-left: auto; margin-right: auto;">
            </a>
        </div>
        <form id="profile-form3" class="list ">
            <div>
                <div class="row">
                    <div class="h3 col-33">Damian Monzilo</div>
                    <div class="button col-25 button-small button-outline button-dark padding-vertical btn-follow">Follow</div>
                    <div>
                        <i class="icon ion-chatbubbles chat-icon"></i>
                    </div>
                </div>
            </div>
            <div id="profile-button-bar1" class=" button-bar button-outline"></div>
        </form>
        <div>
            <ion-tabs class="tabs-icon-top tabs-stable">
                <ion-tab title="Profile" icon="ion-person" href="#/profile">
                </ion-tab>

                <ion-tab title="Gigs" icon="ion-briefcase" href="#/gigs">
                </ion-tab>

                <ion-tab title="Explore" icon="ion-search" href="#/explore">
                </ion-tab>

                <ion-tab title="Feed" icon="ion-social-rss" href="#/feed">
                </ion-tab>
            </ion-tabs>
        </div>
        <div id="profile-button-bar2" class=" button-bar "></div>
    </ion-content>
</ion-view>