<ion-view title="Signup" id="page12" class=" ">
    <ion-content padding="true" style="background: url(img/j08tFupUTDVrK8bB6vCI_Beauty-l.jpg) no-repeat center;background-size:cover;" class="has-header">
        <form action="http://52.42.135.212/api/register" method="POST" id="signup-form6" class="list ">
            <ion-list id="signup-list4" class=" ">
                <label class="item item-input " id="signup-input6">
                    <span class="input-label">Email</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input " id="signup-input7">
                    <span class="input-label">Password</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input " id="signup-input8">
                    <span class="input-label">Confirm Password</span>
                    <input type="text" placeholder="">
                </label>
            </ion-list>
            <div class="spacer" style="width: 300px; height: 32px;"></div>
            <button id="signup-button4" class=" button button-stable  button-block ">Sign up</button>
        </form>
    </ion-content>
</ion-view>
